:root {
  --blue: #0d1725;
  /* --gold: #9e9150; */
  --gold: #c7ba7a;
  --brown: #4b4428;
}

body {
  font-size: 14px;
  background: var(--blue);
  padding: 30px;
  color: #fff;
  text-align: center;
}

ul .achievement-card[hidden-achievement='true'] > :not(.pie) {
  filter: blur(0);
  transition: 0.2s;
}

ul[show-hidden-achievements='false'] .achievement-card[hidden-achievement='true'] > :not(.pie) {
  filter: blur(10px);
}

header {
  font-size: 1.5em;
  margin-bottom: 20px;
}

h1,
h2 {
  line-height: 1;
  margin: 0;
}

h1,
h3 {
  text-transform: uppercase;
  color: var(--gold);
}

.toggle-menu {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: initial;
  position: sticky;
  top: -1px;
  z-index: 2;
  background: var(--blue);
}

.toggle-menu * {
  cursor: pointer;
  margin: 0 10px;
}

input[type='checkbox'] {
  width: 25px;
  height: 25px;
  accent-color: var(--gold);
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  padding: 50px 0 0;
}

.achievement-card {
  background: #000;
  color: #fff;
  flex-basis: 200px;
  padding: 15px;
  border-radius: 7px;
  position: relative;
  box-shadow: 0 0 10px #000;
  gap: 0 20px;
}

.achievement-card img {
  border-radius: inherit;
  grid-area: img;
}

.pie {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -13px;
  right: -13px;
  border: 3px solid #fff;
  text-shadow: 0 0 5px black;
}

.pie div {
  font-size: initial;
}
